
/* VARIABLES */

:root {
  --font: 'Khand', sans-serif;
  --boatStandardBG: grey;
}

/* GENERAL STYLES */

* {
  font-family: var(--font);
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
}

header {
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  height: 90vh;
}

/* BOAT CONTAINERS */

.boatsContainer {
  margin: 0 auto;
  width: 79vw;
  height: 8vh;
  display: flex;
  justify-content: space-between;
}


.boatsContainer:last-of-type {
  height: 13vh;
}

.yourBoats {
  width: 26vw;
  border: solid;
  margin: 0;
  display: flex;
}

.compBoats {
  width: 26vw;
  border: solid;
  margin: 0;
  display: flex;
}

.top {
  justify-content: center;
  align-items: center;
}

.bottom {
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

/* BOAT TYPES */

.boat {
  background-color: var(--boatStandardBG);
  border: solid;
  height: 3vh;
}

.carrier {
  width: 20vw;
}

.battleShip {
  width: 16vw;
}

.destroyer {
  width: 12vw;
}

.submarine {
  width: 12vw;
}

.patrol {
  width: 8vw
}

/* BOAT DESCRIPTIONS */

.boatDescription {
  margin: 0;
  text-align: center;
  font-size: 15px;
}

/* GAMEBOARD */

.masterWrapper {
  margin: 0 auto;
  width: 98vw;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper {
  border: solid 1px rgba(0,0,0,0.3);
  position: relative;
  width: 32%;
}

.wrapper:after { 
  content: "";
  display: block;
  padding-bottom: 100%;
}

#wrapperContent1 {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#wrapperContent2 {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.gameSquare {
  width: 10%;
  height: 10%;
  border: solid 1px rgba(0,0,0,0.3);
  flex-grow: 1;
}

#playRulesWrap {
  height: 57vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#play {
  height: 6vh;
  width: 6vh;
  border-radius: 100px;
}

#rulesControls {
  height: 34vh;
  text-align: center;
  width: 10vw;
  margin: 0 5px;
}

h2 {
  writing-mode: vertical-lr;
  text-orientation: upright;
  font-size: 20px;
  margin: 0;
  font-weight: bold;
}